<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-mid-8 offset-md-1">
      <h2>User info</h2>
      
      <!-- プロフィール画像の変数（@）未設定 -->
      <% if book.user.image.attached? %>
        <%= image_tag book.user.get_profile_image(100.100), class: "mt-3 rounded-circle" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100", class: "mt-3 rounded-circle" %>
      <% end %>
      
      
    </div>
  </div>
</div>